In [1]:
import os

In [2]:
current_directory = os.getcwd()
print('current working directory:' , current_directory)

current working directory: /home/bettynega/Data4380/Tabular Datasets

In [3]:
import pandas as pd
import data_cleaning
import opendatasets as od
import pandas as pd
import zipfile
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import IncrementalPCA
import matplotlib
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.utils.class_weight import compute_class_weight

In [4]:
df = pd.read_csv('final_train.csv')

/tmp/ipykernel_11008/2549177632.py:1: DtypeWarning: Columns (10,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('final_train.csv')

In [5]:
df = data_cleaning.filter_nonzero_columns(df)
df = data_cleaning.remove_outliers_zscore(df)

Original shape: (1000000, 48)
Filtered shape: (1000000, 48)

In [6]:
df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2016-02-28,989076,N,ES,H,24,2011-12-02,0.0,50,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-06-28,955948,N,ES,H,24,2011-10-06,0.0,45,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-08-28,1231387,N,ES,H,21,2013-12-13,0.0,20,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-04-28,1027719,N,ES,V,26,2012-07-20,0.0,36,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2016-05-28,449863,N,ES,V,68,2003-12-22,0.0,149,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [9]:
df.columns

Index(['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia', 'sexo',
       'age', 'fecha_alta', 'ind_nuevo', 'antiguedad', 'indrel',
       'ult_fec_cli_1t', 'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext',
       'conyuemp', 'canal_entrada', 'indfall', 'tipodom', 'cod_prov',
       'nomprov', 'ind_actividad_cliente', 'renta', 'segmento',
       'ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1',
       'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
       'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1',
       'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
       'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',
       'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1',
       'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1',
       'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1'],
      dtype='object')

In [11]:

X = df.drop(['ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1',
             'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
             'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1',
             'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
             'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',
             'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1',
             'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1',
             'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1'], axis=1)
y = df[['ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1',
        'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
        'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1',
        'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
        'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',
        'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1',
        'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1',
        'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [25]:
class_weights = compute_class_weight('balanced', classes=[0, 24], y=y_train)

# initialize with class weights
model = RandomForestClassifier(class_weight={0: class_weights[0], 24: class_weights[24]})

# train
model.fit(X_train, y_train)

# evauate
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

ValueError: classes should include all valid labels that can be in y